<% include ./partials/header.ejs %>

    <!-- beginning searchbar -->
        
      <div class="d-flex flex-column justify-content-center h-100">
          <div class="searchbar">
              <input id="main-search" class="search_input" type="text" name="" placeholder="Inserisci gli ingredienti .............">
              <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
          </div>
          <div class="randomButton"> 
              <button  type="button" class="randomButton__button btn btn-secondary btn-lg">I feel lucky</button>
          </div>
         </div>
      </div>

    <!-- end searchbar -->
<% include ./partials/footer.ejs %>




