<% include partials/header %>
		<div id="landingContainer">
            <h1>Welcome to privateToPrivate!</h1>
            <p>Journal App!!</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds">Log In!</a>
				<a class="btn btn-primary btn-lg" href="/campgrounds">Sign Up!</a>
            </p>
		</div>
<% include partials/footer %>